/* -------------------- HEADER ------------------  */

/* -------------------- HERO ------------------  */

/* -------------------- BENEFITS ------------------  */

/* --------------------- WHAT WE ARE DO ------------------  */

/* -------------------- OUR TEAM ------------------  */

/* -------------------- CLIENTS ------------------  */

/* -------------------- FUTTER --------------------  */

/* -------------------- PORTFOLIO ------------------  */

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn-item {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
.portfolio-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  color: inherit;
}

.portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item:hover .portfolio-list-bgtext {
  transform: translateY(0);
}
.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list-bgtext {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  overflow: auto;

  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.portfolio-border {
  border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
  padding: 20px 24px;
}

/* -------------------- MODAL ------------------  */
.modal {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  min-height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-btn:hover {
  cursor: pointer;
}
.modal-btn:hover .modal-close {
  fill: var(--active-color);
}
.modal-btn:focus .modal-close {
  fill: var(--active-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-field:not(:last-child) {
  margin-bottom: 10px;
}

.input-title {
  display: block;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--second-color);

  margin-bottom: 4px;
}

.input-check a {
  color: var(--active-color);
}

.modal-coment {
  width: 100%;
  height: 120px;

  resize: none;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-coment:hover {
  border-color: var(--active-color);
}
.modal-coment:focus {
  border-color: var(--active-color);
}

.modal-coment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover {
  border-color: var(--active-color);
}
.form-input:focus {
  border-color: var(--active-color);
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .input-icon {
  fill: var(--active-color);
}
.modal-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 12);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 7px;

  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 3px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text span {
  background-color: var(--active-color);
  border-color: var(--active-color);
}
.input-check:focus + .check-text span {
  border-color: var(--active-color);
}
.input-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.btn-modal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
}

/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
}

.input-check:checked + .check-text::before {
  background-color: green;
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
 */
