.footer{
    background: #2F303A;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}
.footer-logo-accent{
    color: #2196F3;
}
.footer-logo-accent2{
    color: #FFFFFF;
}
.footer-list{
    font-style: normal;
    list-style: none;
}

.footer-list__item{
    margin-bottom: 9px;
    & :hover,
    & :focus{
        color:  #2196F3;
    }
}
.footer-list__adress{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__mail{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__tel{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact{
    display: flex;
    align-items: baseline;
}
.footer-social{
    margin-left: 70px;
}
.footer-social__title{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 144px;
    margin-bottom: 20px;
}
.social-list{
    list-style: none;
    display: flex;
}
.social-list__link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color: #2196F3;
    }
}
.social-list__item + .social-list__item{
    margin-left: 10px;
}

.social-list__icon{
    fill: currentColor;
}
.subscription__text{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 93px;
}
.email-form__input{
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2787px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin-left: 93px;
    color: #FFFFFF;
    outline: none;
    padding-left: 16px;
}
.subscription-btn{
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    border-color: transparent;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.88;
}
.subscription-btn__icon{
    fill: #FFFFFF;
    margin-top: 2px;
}