.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden .modal{
    transform: rotate(-300deg) scale(0.5);
}
.modal{
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    transition: transform 500ms;
    padding: 40px;
}
.modal-close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
        fill: #2196F3;
    }
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.form-field{
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-label{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.modal-input-wrap{
    position: relative;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 40px;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
        border-color: #2196F3;
    }
    &:focus + .input-icon,
    &:hover + .input-icon{
        fill: #2196F3;
    }
}
.input-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.modal-text{
    width: 448px;
    height: 120px;
    left: 576px;
    top: 518px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px 20px 14px 12px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    &::placeholder{
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-check-text{
    font-size: 14px;
    color: #757575;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 12px;
}
.modal-check-text span{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-check-icon{
    fill: transparent;
}
.modal-check:checked + .modal-check-text > .modal-span-text{
    background-color: #2196F3;
    border: none;

}
.modal-check:checked + .modal-check-text svg{
    fill: #FFFFFF;
}
.modal-text-link{
    color: #2196F3;
    margin-left: 5px;
    text-decoration: underline;
}
.modal-btn-conteiner{
    text-align: center;
}
.modal-btn{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 200px;
    height: 50px;
    left: 696px;
    top: 712px;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}