*:focus {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
}
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
span {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  outline: none;
}

textarea {
  outline: none;
}
a:active, 
a:hover, 
a {
  text-decoration: none;
  color: inherit;
}